Button {
    -fx-background-color: #f4f4f2;
    -fx-border-color: #f4f4f2;
    -fx-font-size: 12px;
}

Button:hover {
    -fx-background-color: #bbbfca;
    -fx-border-color: #bbbfca;
    -fx-font-size: 12px;
}

Button:focused {
    -fx-background-color: #e8e8e8;
    -fx-border-color: #bbbfca;
    -fx-font-size: 12px;
}

Button:selected {
    -fx-background-color: #bbbfca;
    -fx-border-color: #bbbfca;
    -fx-font-size: 12px;
}
