TextFlow {
    -fx-background-color: #f4f4f2;
    -fx-border-color: #bbbfca;
    -fx-font-size: 12px;
}

TextFlow:hover {
    -fx-background-color: #bbbfca;
    -fx-border-color: #bbbfca;
    -fx-font-size: 12px;
}

TextFlow:focused {
    -fx-background-color: #bbbfca;
    -fx-border-color: #bbbfca;
    -fx-font-size: 12px;
}

TextFlow:selected {
    -fx-background-color: #bbbfca;
    -fx-border-color: #bbbfca;
    -fx-font-size: 12px;
}
